.marker{
    background-size: cover;
    width: 2rem;
    height: 2rem;
    background: #013474;
    border-radius: 50%!important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker svg{
   display: none;
}

